#header {
  background-color: #ffffff;
  top: 0;
  width: 100%;
  height: 6rem;
  position: sticky;
  z-index: 9;
}
#header > .header-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}
#header > .header-container > .top-inner {
  height: 1.5rem;
}
#header > .header-container > .top-inner > .top-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
}
#header > .header-container > .top-inner > .top-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .top-inner > .top-list > .top-item > .top-link {
  color: #745b39;
  text-decoration: none;
}
#header > .header-container > .main-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-start;
  height: 4.5rem;
  box-sizing: border-box;
  padding: 1.25rem 1.5rem;
}
#header > .header-container > .main-inner > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .main-inner > .logo > .logo-icon {
  width: 10rem;
}
#header > .header-container > .main-inner > .menu > .menu-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-start;
}
#header > .header-container > .main-inner > .menu > .menu-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .main-inner > .menu > .menu-list > .menu-item > .menu-link {
  font-size: 1.15rem;
  text-decoration: none;
  color: inherit;
}
#header > .header-container > .main-inner > .menu > .menu-list > .menu-item > .menu-link.bold {
  font-weight: 700;
}
#header > .header-container > .main-inner > .search > .search-icon,
#header > .header-container > .main-inner > .cart > .cart-icon {
  width: 1.3rem;
  line-height: 1;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: felx-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
}
.container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  top: 0;
  left: 0;
  position: relative;
  height: 754px;
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
.container > .content > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 60px 0 160px;
  width: 400px;
  height: 100%;
}
.container > .content > .login-area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area > .login-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  background-image: url("https://kream.co.kr/_nuxt/img/login_title.164fc57.png");
  background-position: center;
  background-size: 250px 56px;
  display: block;
  height: 56px;
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  background-repeat: no-repeat;
}
.container > .content > .login-area > .login-title > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area > .--obj-label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 10px 0 14px 0;
  box-sizing: border-box;
  position: relative;
}
.container > .content > .login-area > .--obj-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area > .--obj-label > .item {
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  padding: 8px 30px 8px 0;
  width: 100%;
  box-sizing: border-box;
}
.container > .content > .login-area > .--obj-label > .item::placeholder {
  transition: opacity 0.3s ease;
}
.container > .content > .login-area > .--obj-label > .item:focus-within::placeholder {
  opacity: 0;
}
.container > .content > .login-area > .--obj-label > .close {
  cursor: pointer;
  margin-top: -12px;
  position: absolute;
  right: 0;
  top: 65%;
  width: 20px;
  height: 20px;
  opacity: 1;
}
.container > .content > .login-area > .--obj-label > .close.-visible {
  opacity: 0;
  pointer-events: none;
}
.container > .content > .login-area > .--obj-label.-invalid > ._text {
  color: #e74c3c;
}
.container > .content > .login-area > .--obj-label.-invalid > .item:not(:disabled) {
  border-color: #e74c3c !important;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  padding: 8px 0;
  width: 100%;
}
.container > .content > .login-area > .--obj-label.-invalid > ._warning {
  color: #e74c3c;
  display: block;
  font-size: 0.8rem;
}
.container > .content > .login-area > .--obj-label > ._warning {
  display: none;
}
.container > .content > .login-area > .login-button {
  width: 100%;
  height: 72px;
  padding-top: 20px;
}
.container > .content > .login-area > .login-button > .button {
  width: 100%;
  height: 52px;
  background-color: #222;
  color: #ffffff;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container > .content > .login-area > .look-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .login-area > .look-box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area > .look-box > .look-list {
  display: inline-flex;
  width: 100%;
  height: 16px;
  flex-grow: 1;
}
.container > .content > .login-area > .look-box > .look-list + .look-list:before {
  background-color: #d3d3d3;
  content: "";
  height: 13px;
  margin-top: 3px;
  width: 1px;
  display: inline-block;
}
.container > .content > .login-area > .look-box > .look-list > .look-link {
  margin: 0 auto;
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
.container > .content > .login-area > .social-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}
.container > .content > .login-area > .social-login > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area > .social-login > .button-container {
  width: 100%;
  height: 52px;
  margin-bottom: 8px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}
.container > .content > .login-area > .social-login > .button-container > .button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  height: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition-duration: 125ms;
  transition-property: background-color;
  transition-timing-function: ease;
  user-select: none;
}
.container > .content > .login-area > .social-login > .button-container > .button > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-primary {
  background-color: #3498db;
  color: #ffffff;
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-primary:hover {
  background-color: rgb(36.9790794979, 139.6987447699, 208.5209205021);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-primary:active {
  background-color: rgb(33.1380753138, 125.1882845188, 186.8619246862);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-gray {
  background-color: #9e9e9e;
  color: #ffffff;
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-gray:hover {
  background-color: rgb(145.25, 145.25, 145.25);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-gray:active {
  background-color: rgb(132.5, 132.5, 132.5);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-kakao {
  background-color: #fee500;
  color: #212121;
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-kakao:hover {
  background-color: rgb(241.25, 217.5049212598, 0);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-kakao:active {
  background-color: rgb(228.5, 206.0098425197, 0);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-naver {
  background-color: #03c75a;
  color: #ffffff;
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-naver:hover {
  background-color: rgb(2.8106435644, 186.4393564356, 84.3193069307);
}
.container > .content > .login-area > .social-login > .button-container > .button.-color-naver:active {
  background-color: rgb(2.6212871287, 173.8787128713, 78.6386138614);
}
.container > .content > .login-area > .social-login > .button-container > .button > .image {
  height: 1rem;
}

#footer {
  width: 100vw;
}
#footer > .footer-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2.5rem;
  border-top: 0.0625rem solid #eeeeee;
}
#footer > .footer-container > .service-area {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .footer-menu > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-strart;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list > .menu-item {
  font-size: 0.8rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .service-area > .customer-service {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .customer-service > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .customer-service > .service-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}
#footer > .footer-container > .service-area > .customer-service > .service-time {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .customer-service > .service-time > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .customer-service > .service-time > .time-term {
  font-size: 0.8rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .service-area > .customer-service > .service-noti {
  font-size: 0.8rem;
}
#footer > .footer-container > .corporation-are {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-top: 3rem;
  padding-top: 2rem;
  box-sizing: border-box;
  border-top: 0.0625rem solid #eeeeee;
}
#footer > .footer-container > .corporation-are > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .corporation-are > .term-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
}
#footer > .footer-container > .corporation-are > .term-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .corporation-are > .term-list > .term-item {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}
#footer > .footer-container > .corporation-are > .term-list > .term-item.bold {
  font-weight: 700;
}
#footer > .footer-container > .corporation-are > .business-info {
  width: 35rem;
  line-height: 1rem;
  font-size: 0.7rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .notice-guarantee {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: flex-start;
  margin-top: 2rem;
  font-size: 0.7rem;
}
#footer > .footer-container > .notice-guarantee > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .notice-guarantee > .title {
  font-weight: 700;
}
#footer > .footer-container > .notice-guarantee > .description {
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .notice-area {
  width: 35rem;
  font-size: 0.7rem;
  color: rgba(34, 34, 34, 0.5019607843);
  margin-top: 1rem;
}

/*# sourceMappingURL=findEmail.css.map */
