@charset "UTF-8";
@import "global";

#header {
  background-color: #ffffff;
  top: 0;

  width: 100%;
  height: 6rem;
  position: sticky;
  //border-bottom: 0.0625rem solid #a0a0a0;
  z-index: 9;

  > .header-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;

    > .top-inner {
      height: 1.5rem;

      > .top-list {
        @include flex(row, center, flex-start, 1.5rem);
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        font-size: 0.75rem;

        > .top-item > .top-link {
          color: #745b39;
          text-decoration: none;
        }
      }
    }

    > .main-inner {
      @include flex(row, center, flex-start, 1.6rem);
      height: 4.5rem;
      box-sizing: border-box;
      padding: 1.25rem 1.5rem;

      > .logo > .logo-icon {
        width: 10rem;
      }

      > .menu > .menu-list {
        @include flex(row, center, flex-start, 1.6rem);

        > .menu-item > .menu-link {
          font-size: 1.15rem;
          text-decoration: none;
          color: inherit;

          &.bold {
            font-weight: 700;
          }
        }
      }

      > .search > .search-icon,
      > .cart > .cart-icon {
        width: 1.3rem;
        line-height: 1;
        cursor: pointer;
      }
    }
  }
}

.container {
  @include flex(column, center, felx-start, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 0;

  background-color: #ebebeb;

  > .content {
    @include flex(column, center, center, 5rem);
    top: 0;
    left: 0;
    position: relative;
    height: 720px;
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;

    > .register-form {
      @include flex(column, flex-start, flex-start, 0);
      margin: 0;
      padding: 20px 16px 0 16px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      > .title {
        font-size: 30px !important;
        letter-spacing: -.48px;
        margin-bottom: 6px;
      }

      > .--obj-label {
        @include flex(column, flex-start, center);
        padding: 10px 0 0 0;
        width: 100%;

        &.-invalid {
          $color: #e74c3c;

          > ._text {
            color: $color;
          }

          > .input-item {
            position: relative;
            width: 100%;

            > .item:not(:disabled) {
              border-color: $color !important;
              font-size: 15px;
              letter-spacing: -.15px;
              line-height: 22px;
              padding: 8px 0;
              width: 100%;
            }
          }

          > ._warning {
            color: $color;
            display: block;
            font-size: 0.8rem;
          }
        }

        > .input-item {
          position: relative;
          width: 100%;

          > .item {
            border-bottom: 1px solid #ebebeb;
            font-size: 15px;
            letter-spacing: -.15px;
            line-height: 22px;
            padding: 8px 0;
            width: 100%;
          }
        }

        > ._warning {
          display: none;
        }
      }

      > .join-terms {
        @include flex(column, flex-start, flex-start, 0.9rem);
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 6px;
        padding-top: 1rem;

        > .item {
          @include flex(row, flex-start, flex-start, 0.375rem);

          > input {
            display: none !important;
            position: absolute !important;
            width: 0 !important;
            height: 0 !important;
          }

          > .--obj-label {
            cursor: pointer;

            // 기본 상태
            > .square {
              display: flex;
            }

            > .check {
              display: none;
            }
          }

          // check 상태
          > input[type="checkbox"]:checked + .--obj-label > .check {
            display: flex;
          }

          > input[type="checkbox"]:checked + .--obj-label > .square {
            display: none;
          }

          > .text > .title {
            font-size: 17px;
            font-weight: bold;
          }

          > .text > span {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.47);

          }
        }


      }

      > .-spring {
        flex-grow: 1;
      }

      > .button-container {
        width: 100%;
        height: 72px;
        box-sizing: border-box;
        padding: 0 16px 16px 20px;

        > .button {
          @include flex(row, center, center);
          border-radius: 10px;
          width: 100%;
          height: 100%;
          font-weight: 400;
          background-color: rgba(34, 34, 34, .2);
          color: #ffffff;
          vertical-align: middle;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.26)
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.34)
          }
        }
      }
    }
  }
}

#footer {
  width: 100vw;

  > .footer-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2.5rem;
    border-top: 0.0625rem solid #eeeeee;

    > .service-area {
      @include flex(row, flex-start, flex-start, 1rem);

      > .footer-menu {
        @include flex(row, center, flex-start, 5rem);

        > .menu-box {
          @include flex(column, flex-start, flex-start, 0.9rem);

          > .menu-title {
            font-size: 0.9rem;
            font-weight: 700;
            color: inherit;
          }

          > .menu-list {
            @include flex(column, flex-start, flex-strart, 0.7rem);

            > .menu-item {
              font-size: 0.8rem;
              color: #22222280;
            }
          }
        }
      }

      > .customer-service {
        @include flex(column, flex-start, flex-start, 0.9rem);

        > .service-title {
          font-size: 0.9rem;
          font-weight: 700;
          color: inherit;
        }

        > .service-time {
          @include flex(column, flex-start, flex-start, 0.7rem);

          > .time-term {
            font-size: 0.8rem;
            color: #22222280;
          }
        }

        > .service-noti {
          font-size: 0.8rem;
        }
      }
    }

    > .corporation-are {
      @include flex(column, flex-start, flex-start, 0.5rem);
      margin-top: 3rem;
      padding-top: 2rem;
      box-sizing: border-box;
      border-top: 0.0625rem solid #eeeeee;

      > .term-list {
        @include flex(row, flex-start, flex-start, 1.5rem);

        > .term-item {
          font-size: 0.8rem;
          font-weight: 400;
          color: #000000;

          &.bold {
            font-weight: 700;
          }
        }
      }

      > .business-info {
        width: 35rem;
        line-height: 1rem;
        font-size: 0.7rem;
        color: #22222280;
      }
    }

    > .notice-guarantee {
      @include flex(column, flex-start, flex-start, 0.2rem);
      margin-top: 2rem;
      font-size: 0.7rem;

      > .title {
        font-weight: 700;
      }

      > .description {
        color: #22222280;
      }
    }

    > .notice-area {
      width: 35rem;
      font-size: 0.7rem;
      color: #22222280;
      margin-top: 1rem;
    }
  }
}