@charset "UTF-8";

@import "../../../assets/styles/global";

.header-menu {
  > .tabs > .tab > .-selected {
    border-bottom: 2px solid #222;
    font-weight: 500;
  }
}

.main-container {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  margin-top: 8.5rem;
  padding: 0;

  #nav {
    @include flex(column, center, flex-start);
    width: 8rem;
    height: 100vh;
    margin-left: 1.5rem;

    > .icon {
      font-size: 2rem;
      margin-top: 2.3rem;
      margin-bottom: 1rem;
    }

    > ul {
      margin-top: 1.5rem;

      > .item {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 300;
        padding: 1rem 0 1rem 0;

        &:hover {
          font-weight: bold;
        }

        &.-selected {
          font-weight: bold;
        }
      }
    }
  }

  #main {
    @include flex(row, flex-start, flex-start);

    > .content[rel="product-list"] {
      width: 100%;
      box-sizing: border-box;
      max-width: calc(100% - 5rem);
      position: absolute;

      > h1 {
        margin: 1rem 2rem;
      }

      > .searchForm {
        @include flex(row, center, flex-start);
        width: 100%;
        margin: 1rem 2rem;

        > .filter-label {
          border: 0.0625rem solid #222;
          padding: 0.3rem;
          margin: 0 0.5rem;
        }

        > .input-label {
          border: 0.0625rem solid #222;
          padding: 0.3rem;
          margin-right: 0.5rem;
        }

        > .button {
          background-color: #222;
          border-radius: 0.3rem;
          color: #ffffff;
          cursor: pointer;
          padding: 0.4rem 0.6rem;
          margin-right: 0.5rem;
        }

        > .delete {
          background-color: #A9A9A9;
          border-radius: 0.3rem;
          color: #ffffff;
          cursor: pointer;
          padding: 0.4rem 0.6rem;
        }
      }


      > table {
        width: 100%;
        max-width: 100%;
        border: 1px solid #ddd;
        border-collapse: collapse;
        box-sizing: border-box;
        table-layout: auto;
        font-size: 14px;

        position: relative;
        margin: 1rem 2rem;

        > thead > tr > th {
          border: 1px solid #ddd;
          text-align: center;
          padding: 0.5rem 0.2rem;
          white-space: nowrap;
        }

        > tbody > tr > .cover-td {
          width: 3rem;
          height: 3rem;
          padding-bottom: 0;

          > .cover {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            object-position: center;
          }
        }

        > tbody > tr > td {
          border: 1px solid #ddd;
          text-align: center;
          padding: 0.25rem;
          white-space: normal;

          > button[name="delete"] {
            background-color: #A9A9A9;
            border-radius: 0.3rem;
            color: #ffffff;
            cursor: pointer;
            padding: 0.4rem 0.6rem;
          }
        }
      }
    }

    > .content[rel="product-register"] {
      width: 100%;
      box-sizing: border-box;
      max-width: calc(100% - 5rem);
      position: absolute;

      > h1 {
        margin: 1rem 2rem;
      }

      > form {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        > table {
          width: 100%;
          border: 1px solid #ddd;
          border-collapse: collapse;
          text-align: left;

        }

        tr > th {
          border: 1px solid #ddd;
          width: 8rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0.5rem;
        }

        tr > td {
          border: 1px solid #ddd;

          > ._input {
            width: 13rem;
            border: 1px solid #ddd;
            padding: 0.5rem;
            margin: 0.3rem;
          }

          > select {
            width: 8rem;
            border: 1px solid #ddd;
            padding: 0.3rem;
            margin: 0.3rem;
          }
        }

        tr > td {
          > .row {
            @include flex(row, flex-start, flex-start, 0.3rem);

            > .preview-wrapper {
              @include flex(row, center, center);
              width: 12rem;
              height: 12rem;
              border: 0.0625rem solid #222;
              cursor: pointer;
              font-size: 2rem;
              overflow: hidden;
              margin: 0.5rem;

              > .image {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }

          > .tip {
            padding: 1rem 0.4rem 0.5rem 0.4rem;

            > ul {
              list-style-type: disc;
              padding: 1rem;

              > li {
                padding-bottom: 1rem;
              }
            }
          }
        }

        > button {
          align-self: flex-end;
          background-color: #222;
          border-radius: 0.3rem;
          color: #ffffff;
          cursor: pointer;
          padding: 0.4rem 0.6rem;
          margin-top: 1rem;
        }
      }
    }
  }
}