.header-menu > .tabs > .tab > .-selected {
  border-bottom: 2px solid #222;
  font-weight: 500;
}

.main-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  margin-top: 8.5rem;
  padding: 0;
}
.main-container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.main-container #nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  width: 8rem;
  height: 100vh;
  margin-left: 1.5rem;
}
.main-container #nav > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.main-container #nav > .icon {
  font-size: 2rem;
  margin-top: 2.3rem;
  margin-bottom: 1rem;
}
.main-container #nav > h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.main-container #main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
}
.main-container #main > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.main-container #main > .content[rel=user-list] {
  width: 100%;
  box-sizing: border-box;
  max-width: calc(100% - 5rem);
  position: absolute;
}
.main-container #main > .content[rel=user-list] > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 2rem;
}
.main-container #main > .content[rel=user-list] > .searchForm {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem 2rem;
}
.main-container #main > .content[rel=user-list] > .searchForm > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.main-container #main > .content[rel=user-list] > .searchForm > .filter-label {
  border: 0.0625rem solid #222;
  padding: 0.3rem;
  margin: 0 0.5rem 0 0;
}
.main-container #main > .content[rel=user-list] > .searchForm > .input-label {
  border: 0.0625rem solid #222;
  padding: 0.3rem;
  margin-right: 0.5rem;
}
.main-container #main > .content[rel=user-list] > .searchForm > .button {
  background-color: #222;
  border-radius: 0.3rem;
  color: #ffffff;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  margin-right: 0.5rem;
}
.main-container #main > .content[rel=user-list] > .tableForm > table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  box-sizing: border-box;
  table-layout: auto;
  font-size: 14px;
  position: relative;
  margin: 1rem 2rem;
}
.main-container #main > .content[rel=user-list] > .tableForm > table > thead > tr > th {
  border: 1px solid #ddd;
  font-weight: 800;
  text-align: center;
  padding: 0.5rem 0.2rem;
  white-space: nowrap;
}
.main-container #main > .content[rel=user-list] > .tableForm > table > tbody > tr > td {
  border: 1px solid #ddd;
  font-weight: 400;
  text-align: center;
  padding: 0.25rem;
  white-space: normal;
}
.main-container #main > .content[rel=user-list] > .tableForm > table > tbody > tr > td > span {
  padding-right: 0.5rem;
}
.main-container #main > .content[rel=user-list] > .tableForm > table > tbody > tr > td > .suspendSelect {
  border: 1px solid #ddd;
  padding: 0.3rem;
}
.main-container #main > .content[rel=user-list] > .tableForm > table > tbody > tr > td > button[name=update] {
  background-color: #A9A9A9;
  border-radius: 0.3rem;
  color: #ffffff;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
}
.main-container #main > .content[rel=user-list] > .tableForm > table > tbody > tr > td > button[name=update]:hover {
  background-color: #222;
  color: #ffffff;
}
.main-container #main > .content[rel=user-list] > .move {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.0625rem;
  line-height: 1;
  justify-content: center;
}
.main-container #main > .content[rel=user-list] > .move .page {
  width: 1.75rem;
  color: #a0a0a0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  padding: 0 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container #main > .content[rel=user-list] > .move .page:hover {
  color: #222;
}
.main-container #main > .content[rel=user-list] > .move .page:active {
  color: #222;
}
.main-container #main > .content[rel=user-list] > .move .page.selected {
  color: #222;
  cursor: pointer;
  pointer-events: none;
}
.main-container #main > .content[rel=user-list] > .move > .page.first,
.main-container #main > .content[rel=user-list] > .move > .page.next {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.main-container #main > .content[rel=user-list] > .move > .page.prev,
.main-container #main > .content[rel=user-list] > .move > .page.last {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.main-container #main > .content[rel=user-list] > .move .page-container {
  margin: 0 0.5rem;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.0625rem;
  justify-content: center;
}
.main-container #main > .content[rel=user-list] > .move .page-container > .page:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.main-container #main > .content[rel=user-list] > .move .page-container > .page:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/*# sourceMappingURL=user.css.map */
