<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KREAM</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/product/assets/styles/product.css'}" type="text/css">
    <script src="https://kit.fontawesome.com/20d32b3086.js" crossorigin="anonymous"></script>
    <script defer src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer th:src="@{'/product-detail/assets/scripts/product.js'}" type="text/javascript"></script>
</head>
<body>
<div class="cover"></div>
<div class="dialog">
<!--    <button class="cancel">-->
<!--        <img class="icon" src="/assets/images/cancel-icon.png" alt="cancel">-->
<!--    </button>-->
<!--    <div class="title-container">-->
<!--        <span class="title">구매하기</span>-->
<!--        <span class="sub-title">(가격 단위: 원)</span>-->
<!--    </div>-->
<!--    <div class="product">-->
<!--        <img class="image" src="/home/assets/images/shoes4.png" alt="image">-->
<!--        <div class="name-container">-->
<!--            <span class="name-en">Nike Air Force 1 '07 Low White</span>-->
<!--            <span class="name-ko">나이키 에어포스 1 '07 로우 화이트</span>-->
<!--            <span class="model-number">315122-111/CW2288-111</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="size-container">-->
<!--        <button class="size-button">-->
<!--            <span class="size">230</span>-->
<!--            <span class="price">구매입찰</span>-->
<!--        </button>-->
<!--    </div>-->
<!--    <div class="order">-->
<!--        <div class="delivery">-->
<!--            <span class="text">일반배송</span>-->
<!--            <span class="date">5-7일</span>-->
<!--            <span class="-spring"></span>-->
<!--            <span class="delivery-price">351,000원</span>-->
<!--        </div>-->
<!--        <div class="button-container">-->
<!--            <button class="cart button" type="button">장바구니 담기</button>-->
<!--            <button class="bid button" type="button">즉시 구매/ 구매 입찰</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="buy-bid-container">-->
<!--        <button class="buy-bid-button" type="button">구매 입찰하기</button>-->
<!--    </div>-->
</div>
<header id="header">
    <div class="header-container">
        <div class="top-inner">
            <ul class="top-list">
                <li class="-spring"></li>
                <li class="top-item">
                    <a class="top-link" th:if="${user != null && user.isAdmin()}" th:href="@{'/admin/'}">관리자 페이지</a>
                </li>
                <li class="top-item">
                    <a class="top-link" th:href="${user == null} ? '/user/' : '/my'">마이페이지</a>
                </li>
                <li class="top-item">
                    <a class="top-link" th:href="${user == null} ? '/user/' : '/user/logout'"
                       th:text="${user == null} ? '로그인' : '로그아웃'"></a>
                </li>
            </ul>
        </div>
        <div class="main-inner">
            <a class="logo" th:href="@{'/'}">
                <img class="logo-icon" alt="logo" src="/assets/images/logo.png">
            </a>
            <div class="-spring"></div>
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a class="menu-link bold" th:href="@{'/'}">HOEM</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" th:href="@{'/shop'}">SHOP</a>
                    </li>
                </ul>
            </nav>
            <a class="search" th:href="@{'/search'}">
                <img class="search-icon" alt="search-icon" src="/home/assets/images/search-icon.png">
            </a>
            <a class="cart" th:href="${user == null} ? '/login' : '/cart'">
                <img class="cart-icon" alt="cart-icon" src="/home/assets/images/cart_icon.png">
            </a>
        </div>
    </div>
</header>
<main id="main">
    <div class="product-container">
        <div class="left">
            <div class="image-container">
                <div class="image-cover" th:each="image : ${images}">
                    <img th:src="${image.getBase64Image()}" alt="product-image" class="image">
                </div>
                <a class="prev arrow" onclick="plusSlides(-1)">
                    <i class="icon fa-solid fa-angle-left fa-lg"></i>
                </a>
                <a class="next arrow" onclick="plusSlides(1)">
                    <i class="icon fa-solid fa-angle-right fa-lg"></i>
                </a>
            </div>
            <div class="similar-image-container">
                <div class="similar-image-cover" th:each="similarImage : ${similarImages}">
                    <a class="link" th:href="@{'/products?id=' + ${similarImage.getProductId()}}">
                        <img class="image" th:src="${similarImage.getBase64Image()}" alt="product-image"
                             th:data-id="${similarImage.getProductId()}">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="price-container">
                <span class="price-title">즉시 구매가</span>
                <span class="price-text"
                      th:text="${sizes[0].getLowestSellPrice() != 0 ? #numbers.formatInteger(sizes[0].getLowestSellPrice() , 0 , 'COMMA') + '원' : '-'}"></span>
            </div>
            <div class="product-name-container">
                <span class="product-name-en" th:text="${product.getProductNameEn()}"></span>
                <span class="product-name-ko" th:text="${product.getProductNameKo()}"></span>
            </div>
            <button class="size">
                <span class="size-text" th:text="모든사이즈"></span>
                <span class="-spring"></span>
                <i class="fa-solid fa-square-caret-down"></i>
            </button>
            <div class="product-detail-container">
                <div class="product-detail-text-container">
                    <span class="product-detail-title">모델번호</span>
                    <span class="product-detail-text" th:text="${product.getModelNumber()}"></span>
                </div>
                <div class="product-detail-text-container">
                    <span class="product-detail-title">출시일</span>
                    <span class="product-detail-text" th:text="${product.getReleaseDate()}"></span>
                </div>
                <div class="product-detail-text-container">
                    <span class="product-detail-title">색상</span>
                    <span class="product-detail-text" th:text="${product.getColor()}"></span>
                </div>
            </div>
            <div class="button-container">
                <button class="buy button" type="button">
                    <span class="button-title">구매</span>
                    <span class="button-text-container">
                        <span class="button-price-text buy-price-text"
                              th:text="${sizes[0].getLowestSellPrice() != 0 ? #numbers.formatInteger(sizes[0].getLowestSellPrice() , 0 , 'COMMA') + '원' : '-'}"></span>
                        <span class="button-text">즉시 구매가</span>
                    </span>
                </button>
                <button class="sell button" type="button">
                    <span class="button-title">판매</span>
                    <span class="button-text-container">
                        <span class="button-price-text sell-price-text"
                              th:text="${sizes[0].getHighestBuyPrice() != 0 ? #numbers.formatInteger(sizes[0].getHighestBuyPrice() , 0 , 'COMMA') + '원' : '-'}"></span>
                        <span class="button-text">즉시 판매가</span>
                    </span>
                </button>
            </div>
            <div class="delivery-container">
                <span class="delivery-container-title">배송 정보</span>
                <div class="delivery-item-container">
                    <i class=" icon fa-solid fa-truck"></i>
                    <div class="text-container">
                        <div class="text-top">
                            <span class="text">일반 배송</span>
                            <span class="price">3,000원</span>
                        </div>
                        <div class="text-bottom">
                            <span class="text">검수 후 배송 • 5-7일 내 도착 예정</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-item-charts">
                <span class="title">시세</span>
<!--                <div class="bids-graph-container bids">-->
<!--                    <div class="container-title">-->
<!--                        <button class="button" type="button">1개월</button>-->
<!--                        <button class="button" type="button">3개월</button>-->
<!--                        <button class="button" type="button">6개월</button>-->
<!--                        <button class="button" type="button">9개월</button>-->
<!--                        <button class="button" type="button">전체</button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="bids-container bids">
                    <div class="container-title">
                        <button class="button" type="button" style="background-color: #ffffff" data-id="order">체결 거래</button>
                        <button class="button" type="button" data-id="sell">판매 입찰</button>
                        <button class="button" type="button" data-id="buy">구매 입찰</button>
                    </div>
                    <table class="table">
                        <thead class="thead">
                        <tr class="tr">
                            <th class="th">옵션</th>
                            <th class="th">거래가</th>
                            <th class="th">거래일</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <tr class="tr" th:each="orderChart : ${orderCharts}">
                            <td class="td" th:text="${orderChart.getSizeType()}"></td>
                            <td class="td" th:text="${#numbers.formatInteger(orderChart.getOrderPrice() , 0 , 'COMMA') + '원'}"></td>
                            <td class="td" th:text="${#temporals.format(orderChart.getOrderDate(),'yyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="guid-list">
                <div class="guid-item">
                    <i class="fa-solid fa-award fa-lg"></i>
                    <div class="guid-text-wrap">
                        <span class="guid-title">100% 정품 보증</span>
                        <span class="guid-text">KREAM에서 검수한 상품이 정품이 아닐 경우,구매가의 3배를 보상합니다.</span>
                    </div>
                </div>
                <div class="guid-item">
                    <i class="fa-solid fa-binoculars fa-lg"></i>
                    <div class="guid-text-wrap">
                        <span class="guid-title">엄격한 다중 검수</span>
                        <span class="guid-text">모든 상품은 검수 센터에 도착한 후, 상품별 전문가 그룹의 체계적인 시스템을 거쳐 검수를 진행합니다.</span>
                    </div>
                </div>
                <div class="guid-item">
                    <i class="fa-solid fa-box fa-lg"></i>
                    <div class="guid-text-wrap">
                        <span class="guid-title">정품 인증 패키지</span>
                        <span class="guid-text">검수에 합격한 경우에 한하여 KREAM의 정품 인증 패키지가 포함된 상품이 배송됩니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="footer-container">
            <div class="service-area">
                <div class="footer-menu">
                    <div class="menu-box">
                        <span class="menu-title">이용안내</span>
                        <ul class="menu-list">
                            <li class="menu-item">검수기준</li>
                            <li class="menu-item">이용정책</li>
                            <li class="menu-item">페널티 정책</li>
                            <li class="menu-item">커뮤니티 가이드라인</li>
                        </ul>
                    </div>
                    <div class="menu-box">
                        <span class="menu-title">고객지원</span>
                        <ul class="menu-list">
                            <li class="menu-item">공지사항</li>
                            <li class="menu-item">서비스 소개</li>
                            <li class="menu-item">스토어 안내</li>
                            <li class="menu-item">판매자 방문접수</li>
                        </ul>
                    </div>
                </div>
                <div class="-spring"></div>
                <div class="customer-service">
                    <span class="service-title">고객센터 1588-7813</span>
                    <span class="service-time">
                    <span class="time-term">운영시간 평일 10:00 - 18:00 (토•일, 공휴일 휴무)</span>
                    <span class="time-term">점심시간 평일 13:00 - 14:00</span>
                </span>
                    <span class="service-noti">1:1 문의하기는 앱에서만 가능합니다.</span>
                </div>
            </div>
            <div class="corporation-are">
                <ul class="term-list">
                    <li class="term-item">회사소개</li>
                    <li class="term-item">인재채용</li>
                    <li class="term-item">제휴제안</li>
                    <li class="term-item">이용약관</li>
                    <li class="term-item bold">개인정보처리방침</li>
                </ul>
                <span class="business-info">크림 주식회사 · 대표 김창욱사업자등록번호 : 570-88-01618 사업자정보확인통신판매업 : 제 2021-성남분당C-0093호사업장소재지 : 경기도 성남시 분당구 분당내곡로 131 판교테크원 타워1, 7층호스팅 서비스 : 네이버 클라우드 ㈜</span>
            </div>
            <div class="notice-guarantee">
                <span class="title">신한은행 채무지급보증 안내</span>
                <span class="description">당사는 고객님의 현금 결제 금액에 대해 신한은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.서비스가입 사실 확인</span>
            </div>
            <div class="notice-area">
                <span class="notice">크림(주)는 통신판매 중개자로서 통신판매의 당사자가 아닙니다. 본 상품은 개별판매자가 등록한 상품으로 상품, 상품정보, 거래에 관한 의무와 책임은 각 판매자에게 있습니다. 단, 이용약관 및 정책, 기타 거래 체결 과정에서 고지하는 내용 등에 따라 검수하고 보증하는 내용에 대한 책임은 크림(주)에 있습니다.</span>
            </div>
        </div>
    </footer>
</main>
</body>
</html>