@charset "UTF-8";

@import "../../../assets/styles/global";

body {
  @include flex(column, flex-start, flex-start);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

.overlay {
  position: fixed;  /* 고정 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.category-box {
  position: fixed;
  top: 0;
  left: 73%;
  width: 27%;
  height: 100%;
  background-color: white;
  z-index: 15;
  display: none;
  overflow: auto;

  > .filter-title {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 1.5rem;
    position: fixed;

    > .icon {
      cursor: pointer;
      padding-top: 0.1rem;
      margin-right: 1rem;
      font-weight: 50;
    }

    > h2 {
      font-weight: 700;
    }
  }

  > form {
    > .clothes-category-container {
      margin-top: 4rem;
      padding: 1.5rem;
      gap: 0.5rem;

      > h3 {
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 1rem;
      }

      > h4 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem;
        padding-bottom: 1rem;
      }

      > .categoryDetail {
        @include flex(row, flex-start, flex-start);
        border-bottom: #f4f4f4 solid 1px;
        //margin-bottom: 1rem;

        > .check {
          @include flex(column, center, center);
          width: 5rem;
          height: 2rem;
          border-radius: 30px;
          background-color: #f4f4f4;
          cursor: pointer;
          margin-right: 0.5rem;
          margin-bottom: 1rem;

          > input {
            display: none;
          }

          > input:checked + ._box {
            color: white;
          }
        }
      }
    }

    > .gender-category-container {
      padding-left: 1.5rem;
      gap: 0.5rem;

      > h3 {
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 1rem;
      }

      > h4 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem;
        padding-bottom: 1rem;
      }

      > .categoryDetail {
        @include flex(row, flex-start, flex-start);
        border-bottom: #f4f4f4 solid 1px;
        //margin-bottom: 1rem;

        > .check {
          @include flex(column, center, center);
          width: 5rem;
          height: 2rem;
          border-radius: 30px;
          background-color: #f4f4f4;
          cursor: pointer;
          margin-right: 0.5rem;
          margin-bottom: 1rem;

          > input {
            display: none;
          }

          > input:checked + ._box {
            color: white;
          }
        }
      }
    }

    > .color-category-container {
      padding-left: 1rem;
      gap: 0.5rem;

      > h3 {
        font-size: 17px;
        font-weight: 600;
        padding: 0 0 1rem 0.5rem;
        margin-top: 1rem;
      }

      > .categoryDetail {
        //@include flex(row, flex-start, flex-start);
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 1줄에 3개씩 */
        border-bottom: #f4f4f4 solid 1px;

        > .color-tag {
          @include flex(column, center, center);
          margin: 0 0.3rem 1rem 0;

          > .checkColor {
            @include flex(column, center, center);
            width: 40px;
            height: 40px;
            border: 1px solid rgba(0, 0, 0, 0.04);
            border-radius: 30px;
            background-color: #f4f4f4;
            cursor: pointer;
            margin-bottom: 0.5rem;

            > input, ._box {
              display: none;
            }

            > input:checked + ._box {
              display: block;
              color: white;
            }
          }

          > .black {background-color: black;}
          > .gray {background-color: gray;}
          > .white {
            background-color: white;
            > input:checked + ._box {
              display: block;
              color: #222;
            }
          }
          > .ivory {
            background-color: ivory;
            > input:checked + ._box {
              display: block;
              color: #222;
            }
          }
          > .beige {
            background-color: beige;
            > input:checked + ._box {
              display: block;
              color: #222;
            }
          }
          > .brown {background-color: brown;}
          > .navy {background-color: navy;}
          > .blue {background-color: blue;}
          > .skyblue {background-color: skyblue;}
          > .red {background-color: red;}
          > .orange {background-color: orange;}
          > .yellow {
            background-color: yellow;
            > input:checked + ._box {
              display: block;
              color: #222;
            }
          }
        }
      }
    }

    > .price-category-container {
      padding-left: 1.5rem;
      margin-bottom: 5rem;
      gap: 0.5rem;

      > h3 {
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 1rem;
        margin-top: 1rem;
      }

      > h4 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem;
        padding-bottom: 1rem;
      }

      > .categoryDetail {
        @include flex(row, flex-start, flex-start);

        > .check {
          @include flex(column, center, center);
          width: 5rem;
          height: 2rem;
          border-radius: 30px;
          background-color: #f4f4f4;
          cursor: pointer;
          margin-right: 0.5rem;
          margin-bottom: 1rem;

          > input {
            display: none;
          }

          > input:checked + ._box {
            color: white;
          }
        }
      }
    }

    > .button-container {
      @include flex(row, flex-start, flex-start, 6px);
      width: 100%;
      height: 3.5rem;
      bottom: 0;
      background-color: #ffffff;
      border-top: #f4f4f4 solid 1px;
      color: #222;
      position: fixed;
      padding: 8px;

      > .reset-button {
        width: 100px;
        height: 52px;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        cursor: pointer;
      }

      > .filter-button {
        width: 20rem;
        height: 52px;
        background-color: #222;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

.show-category {
  display: block;
}


#header {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 10;

  > .header-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;

    > .top-inner {
      height: 1.5rem;

      > .top-list {
        @include flex(row, center, flex-start, 1.5rem);
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        font-size: 0.75rem;

        > .top-item > .top-link {
          color: #745b39;
          text-decoration: none;
        }
      }
    }

    > .main-inner {
      @include flex(row, center, flex-start, 1.6rem);
      height: 4.5rem;
      box-sizing: border-box;
      padding: 1.25rem 1.5rem;

      > .logo > .logo-icon {
        width: 10rem;
      }

      > .menu > .menu-list {
        @include flex(row, center, flex-start, 1.6rem);

        > .menu-item > .menu-link {
          color: inherit;
          font-size: 1.15rem;
          font-weight: 400;
          text-decoration: none;


          &.bold {
            font-weight: 700;
          }
        }
      }

      > .search > .search-icon {
        width: 1.3rem;
        cursor: pointer;
      }

      > .cart > .cart-icon {
        width: 1.4rem;
        cursor: pointer;
      }
    }
  }
}

#main {
  width: 100vw;
  padding-top: 6rem;
  flex: 1;

  > .title {
    @include flex(row, center, center);
    color: #000;
    cursor: pointer;
    font-size: 28px;
    font-weight: 600;
    padding: 16px 0;
    position: relative;
    letter-spacing: -.12px;
  }

  > .shop-tab {
    background-color: #ffffff;
    border-bottom: 0.8px solid #d3d3d3;
    top: 6rem;
    position: sticky;
    z-index: 2;

    > .nav-form {
      width: 100%;
      max-width: 76rem;
      margin: 1rem auto;

      > .tabs {
        @include flex(row, flex-start, flex-start, 1.5rem);

        > .tab {
          text-align: center;
          font-size: 16px;
          line-height: 1.25;

          > .tab-item {
            color: #222;
            cursor: pointer;
            text-decoration: none;
            padding-bottom: 1rem;
          }

          .-selected {
            border-bottom: 2px solid #222;
            font-weight: bold;
          }
        }
      }
    }
  }

  > .category-tab {
    width: 100%;
    max-width: 78rem;
    background-color: #ffffff;
    border-bottom: 0.8px solid #d3d3d3;
    margin: 0 auto;

    > form {
      @include flex(row, flex-start, flex-start, 3rem);
      padding: 1.5rem 0;

      > button {
        @include flex(column, center, center);
        cursor: pointer;

        > img {
          width: 5rem;
          height: 5rem;
          image-rendering: auto;
          object-fit: cover;
        }
      }
    }
  }

  > .category-container {
    padding: 16px 0 0;

    > .category-buttons {
      @include flex(row, center, center, 1rem);

      > .category-button {
        @include flex(row, center, center);
        background-color: #f4f4f4;
        border-radius: 30px;
        color: #4e4e4e;
        font-size: 13px;
        height: 30px;
        padding: 0 8px;

        > button {
          cursor: pointer;
        }
      }
    }
  }

  > .sort-container {
    @include flex(row, center, flex-start);
    top: 8.296rem;
    width: 100%;
    max-width: 89rem;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 1rem;
    position: sticky;
    z-index: 2;

    > .column {
      position: relative;

      > .sort-title {
        cursor: pointer;
      }

      > .sort-list {
        top: 2rem;
        right: - 0.2rem;
        width: 10rem;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
        overflow: hidden;
        position: absolute;
        z-index: 1;

        > .sort-item {
          @include flex(row, center, flex-start, 1rem);
          padding: 1rem 1rem 1rem 0.5rem;
          position: relative;
          white-space: nowrap;

          &:hover {
            background-color: #eeeeee;
          }

          > .icon {
            display: none;
          }
        }

        .-selected {
          > button {
            font-weight: bold;
          }

          > .icon {
            display: inline-block;
          }
        }
      }
    }

    .-visible {
      display: none;
    }
  }

  > .main-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 2.5rem;

    > .error-list > .error {
      text-align: center;
    }

    > .shop-products-list {
      display: grid;
      gap: 3rem 0.5rem;
      grid-template-columns: repeat(5, 1fr);
      padding-bottom: 1.5rem;

      > .products-item {
        @include flex(column, stretch, flex-start, 0.25rem);

        > .product-image {
          position: relative;

          > .trading {
            @include flex(row, center, flex-start, 0.25rem);
            top: 0.625rem;
            right: 0.625rem;
            position: absolute;
            z-index: 1;

            > .text {
              font-size: 0.75rem;
              color: #0a0a0a;
            }
          }

          > .releaseDate {
            @include flex(row, center, flex-start, 0.25rem);
            top: 0.625rem;
            right: 0.625rem;
            position: absolute;
            z-index: 1;

            > .text {
              font-size: 0.75rem;
              color: #0a0a0a;
            }
          }

          > .image {
            background-color: #eeeeee;
            border-radius: 0.3rem;
            width: 14.6rem;
          }
        }

        > .product-text {
          @include flex(column, stretch, flex-start, 0.7rem);

          > .text-container {
            @include flex(column, stretch, flex-start, 0.15rem);

            > .brand {
              color: #222222;
              font-size: 0.8rem;
              font-weight: 700;
            }

            > .product-name-en {
              color: #0a0a0a;
              font-size: 0.8rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }

            > .product-name-ko {
              color: #9e9e9e;
              font-size: 0.75rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
          }

          > .price {
            font-size: 0.8rem;
            font-weight: 700;
          }

          > .span {
            color: #9e9e9e;
            font-size: 11px;
          }
        }
      }
    }

    .-visible {
      display: none;
    }
  }
}

#footer {
  width: 100vw;

  > .footer-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2.5rem;
    border-top: 0.0625rem solid #eeeeee;

    > .service-area {
      @include flex(row, flex-start, flex-start, 1rem);

      > .footer-menu {
        @include flex(row, center, flex-start, 5rem);

        > .menu-box {
          @include flex(column, flex-start, flex-start, 0.9rem);

          > .menu-title {
            font-size: 0.9rem;
            font-weight: 700;
            color: inherit;
          }

          > .menu-list {
            @include flex(column, flex-start, flex-strart, 0.7rem);

            > .menu-item {
              font-size: 0.8rem;
              color: #22222280;
            }
          }
        }
      }

      > .customer-service {
        @include flex(column, flex-start, flex-start, 0.9rem);

        > .service-title {
          font-size: 0.9rem;
          font-weight: 700;
          color: inherit;
        }

        > .service-time {
          @include flex(column, flex-start, flex-start, 0.7rem);

          > .time-term {
            font-size: 0.8rem;
            color: #22222280;
          }
        }

        > .service-noti {
          font-size: 0.8rem;
        }
      }
    }

    > .corporation-are {
      @include flex(column, flex-start, flex-start, 0.5rem);
      margin-top: 3rem;
      padding-top: 2rem;
      box-sizing: border-box;
      border-top: 0.0625rem solid #eeeeee;

      > .term-list {
        @include flex(row, flex-start, flex-start, 1.5rem);

        > .term-item {
          font-size: 0.8rem;
          font-weight: 400;
          color: #000000;

          &.bold {
            font-weight: 700;
          }
        }
      }

      > .business-info {
        width: 35rem;
        line-height: 1rem;
        font-size: 0.7rem;
        color: #22222280;
      }
    }

    > .notice-guarantee {
      @include flex(column, flex-start, flex-start, 0.2rem);
      margin-top: 2rem;
      font-size: 0.7rem;

      > .title {
        font-weight: 700;
      }

      > .description {
        color: #22222280;
      }
    }

    > .notice-area {
      width: 35rem;
      font-size: 0.7rem;
      color: #22222280;
      margin-top: 1rem;
    }
  }
}