<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KREAM Administrator</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/admin/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/admin/assets/styles/user.css'}">
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script src="https://kit.fontawesome.com/79ae8a0168.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-top">
        <div class="main-inner">
            <h1>
                <a href="#" class="logo">KREAM</a>
                <a class="logo" th:href="@{/admin/}">Administrator</a>
            </h1>
        </div>
        <div class="-spring"></div>
        <div class="header-right">
            <nav class="link-container">
                <a th:href="@{/user/logout}"><i class="icon fa-solid fa-arrow-right-from-bracket"></i></a>
            </nav>
        </div>
    </div>
    <nav class="header-menu">
        <ul class="tabs">
            <li class="tab"><a class="link -selected" th:href="@{/admin/user}">회원관리</a></li>
            <li class="tab"><a class="link" th:href="@{/admin/product}">상품관리</a></li>
            <li class="tab"><a class="link" th:href="@{/admin/order}">주문관리</a></li>
        </ul>
    </nav>
</header>
<div class="main-container">
    <nav id="nav">
        <i class="icon fa-solid fa-user"></i>
        <h2>회원 관리</h2>
    </nav>
    <main id="main">
        <div class="content -visible" rel="user-list">
            <h1>회원 목록</h1>
            <form class="searchForm">
                <label class="filter-label">
                    <select name="filter">
                        <option selected value="all" th:selected="${filter != null && filter.equals('all')}">전체</option>
                        <option value="email" th:selected="${filter != null && filter.equals('email')}">이메일</option>
                        <option value="nickname" th:selected="${filter != null && filter.equals('nickname')}">닉네임</option>
                        <option value="suspended" th:selected="${filter != null && filter.equals('suspended')}">계정 상태</option>
                    </select>
                </label>
                <label class="input-label">
                    <input class="input" name="keyword" placeholder="검색어" type="text" th:value="${keyword}">
                </label>
                <button class="button" type="submit">검색</button>
            </form>
            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>이메일</th>
                    <th>소셜 타입</th>
                    <th>전화번호</th>
                    <th>닉네임</th>
                    <th>거래량</th>
                    <th>가입일시</th>
                    <th>계정 상태</th>
                    <th style="width: 4rem;">관리</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:if="${user.getSocialTypeCode() != null}"
                        th:text="${user.getSocialTypeCode()}"></td>
                    <td th:if="${user.getSocialTypeCode()} == null">KREAM</td>
                    <td th:text="${user.getContact()}"></td>
                    <td th:text="${user.getNickname()}"></td>
                    <td>-</td>
                    <td th:text="${#temporals.format(user.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td class="suspendTd" th:if="${user.isSuspended() == false}">
                        <select class="suspendSelect">
                            <option>활동</option>
                            <option>정지</option>
                        </select>
                    </td>
                    <td class="suspendTd" th:if="${user.isSuspended() == true}">
                        <select class="suspendSelect">
                            <option>정지</option>
                            <option>활동</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" name="update">변경</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>