#header {
  background-color: #ffffff;
  top: 0;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 9;
}
#header > .header-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}
#header > .header-container > .top-inner {
  height: 1.5rem;
}
#header > .header-container > .top-inner > .top-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
}
#header > .header-container > .top-inner > .top-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .top-inner > .top-list > .top-item > .top-link {
  color: #745b39;
  text-decoration: none;
}
#header > .header-container > .main-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-start;
  height: 4.5rem;
  box-sizing: border-box;
  padding: 1.25rem 1.5rem;
}
#header > .header-container > .main-inner > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .main-inner > .logo > .logo-icon {
  width: 10rem;
}
#header > .header-container > .main-inner > .menu > .menu-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-start;
}
#header > .header-container > .main-inner > .menu > .menu-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .main-inner > .menu > .menu-list > .menu-item > .menu-link {
  font-size: 1.15rem;
  text-decoration: none;
  color: inherit;
}
#header > .header-container > .main-inner > .menu > .menu-list > .menu-item > .menu-link.bold {
  font-weight: 700;
}
#header > .header-container > .main-inner > .search > .search-icon,
#header > .header-container > .main-inner > .cart > .cart-icon {
  width: 1.3rem;
  line-height: 1;
  cursor: pointer;
}

.cart-top-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  top: 6rem;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.cart-top-area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  position: sticky;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  top: 25px;
}
.cart-top-area > .box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box > .cart-title {
  padding: 16px 0;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ffffff;
}
.cart-top-area > .box > .cart-tab {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart-top-area > .box > .cart-tab > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box > .cart-tab > .tab-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  height: 60px;
  width: 50%;
  position: relative;
  padding: 9px 0 0 0;
  z-index: 2;
}
.cart-top-area > .box > .cart-tab > .tab-item > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box > .cart-tab > .tab-item > .count {
  font-weight: 700;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.cart-top-area > .box > .cart-tab > .cart-header {
  top: 145px;
  background-color: #ffffff;
  position: sticky;
  z-index: 1;
  width: 100%;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  margin: 0 auto;
  width: 700px;
  padding: 30px 16px 12px 16px;
  box-sizing: border-box;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .--obj-label {
  cursor: pointer;
  margin-right: 8px;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .--obj-label > .uncheck {
  display: flex;
  width: 24px;
  height: 24px;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .--obj-label > .check {
  display: none;
  width: 24px;
  height: 24px;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .--obj-label > .checkbox {
  display: none;
  width: 24px;
  height: 24px;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .--obj-label > input[type=checkbox]:checked + .uncheck {
  display: none;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .--obj-label > input[type=checkbox]:checked ~ .check {
  display: flex;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .text {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  text-align: left;
  color: #222222;
  font-size: 0.986rem;
  font-weight: bold;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .text > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .box > .cart-tab > .cart-header > .wrapper > .group > .button {
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  padding: 4px 10px;
  margin-left: 6px;
  width: 76px;
  height: 24px;
  border: 1px solid #222222;
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0 0 0 1px inset;
  font-size: 0.8rem;
  font-weight: 700;
}
.cart-top-area > .cart-screen {
  box-sizing: border-box;
  margin: 0;
  padding-top: 3rem;
  width: 700px;
}
.cart-top-area > .cart-screen > .cart-content {
  background-color: rgb(244, 244, 244);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width {
  margin: 0 auto;
  width: 700px;
  padding: 0;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  margin: 0;
  padding: 0;
  height: 392px;
  text-align: center;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout1 > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout1 > .text {
  color: #222222;
  font-size: 15px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout1 > .button {
  border-radius: 10px;
  margin: 10px 0 0;
  padding: 5px 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(34, 34, 34) 0 0 0 1px inset;
  cursor: pointer;
  text-decoration: none;
  color: #222222;
  font-weight: 800;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  margin: 0;
  padding: 0;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .div {
  height: 24px;
  margin: 0;
  padding: 0;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  padding: 20px 16px 10px 16px;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .--obj-label {
  cursor: pointer;
  margin-right: 8px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .--obj-label > .uncheck {
  display: flex;
  width: 24px;
  height: 24px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .--obj-label > .check {
  display: none;
  width: 24px;
  height: 24px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .--obj-label > .checkbox {
  display: none;
  width: 24px;
  height: 24px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .--obj-label > input[type=checkbox]:checked + .uncheck {
  display: none;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .--obj-label > input[type=checkbox]:checked ~ .check {
  display: flex;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-header > .group > .button {
  border: 1px solid #a0a0a0;
  border-radius: 999rem;
  width: 56px;
  height: 20px;
  padding-top: 1px;
  cursor: pointer;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  padding: 0 16px 20px 16px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content-image {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  margin-left: 16px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content > .text1 {
  gap: 0 2px;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  color: #222222;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content > .text2 {
  gap: 0 2px;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  color: #a0a0a0;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content > .bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: #222222;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .product-list > .content > .bottom > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-table {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  padding: 3px 16px 7px 16px;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-table > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-table > .text {
  margin-right: 8px;
  gap: 0 2px;
  padding: 1px 0 0;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-table > .text-body {
  gap: 0 2px;
  padding: 1px 0 0;
  margin-right: 8px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-table > .text-body:nth-of-type(2) {
  font-size: 17px;
  font-weight: bold;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .status {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 23px;
  padding-right: 23px;
  box-sizing: border-box;
  height: 50px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .button-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0 16px 20px 16px;
  gap: 0 8px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .button-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .button-list > .button {
  border-radius: 10px;
  padding: 2px 20px;
  background-color: #222222;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  height: 36px;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse {
  border-radius: 0 0 10px 10px;
  padding: 16px;
  background-color: rgb(250, 250, 250);
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .text-body {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .text-body > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .text-body > .text {
  font-weight: 700;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .content > .line {
  height: 1px;
  margin: 16px 0 0 0;
  border-bottom: 1px solid #f4f4f4;
  background-color: #ebebeb;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .content > .text-table {
  margin: 16px 0 4px 0;
  padding: 3px 0;
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .content > .text-table > .box {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .content > .text-table > .box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .cart-content > .cart-max-width > .layout > .text-collapse > .content > .text-table > .box > .text:nth-of-type(1) {
  color: #a0a0a0;
}
.cart-top-area > .cart-screen > .text-body {
  border-radius: 10px 10px 0 0;
  width: 100%;
  gap: 0 2px;
  padding: 15px 16px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .text-body > .text {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.cart-top-area > .cart-screen > .line {
  width: 100%;
  height: 1px;
  padding: 0 16px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #f4f4f4;
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .layout-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  gap: 4px 0;
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
}
.cart-top-area > .cart-screen > .layout-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .layout-list > .item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%;
}
.cart-top-area > .cart-screen > .layout-list > .item > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .layout-list > .item > .text:nth-of-type(1) {
  color: #a0a0a0;
}
.cart-top-area > .cart-screen > .layout-list > .item > .text:nth-of-type(2) {
  font-weight: 700;
}
.cart-top-area > .cart-screen > .text-table {
  border-radius: 0 0 10px 10px;
  padding: 15px 16px;
  background-color: rgb(255, 255, 255);
}
.cart-top-area > .cart-screen > .text-table > .box {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.cart-top-area > .cart-screen > .text-table > .box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .text-table > .box > .text {
  font-weight: bold;
}
.cart-top-area > .cart-screen > .bullet-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #eeeeee;
  box-sizing: border-box;
  padding: 16px 16px 6px 16px;
  font-size: 13px;
}
.cart-top-area > .cart-screen > .bullet-header > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .bullet {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  width: 100%;
  background-color: #eeeeee;
  box-sizing: border-box;
  padding: 0 16px 6px 16px;
  font-size: 13px;
}
.cart-top-area > .cart-screen > .bullet > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-screen > .bullet-bottom {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0 16px 16px 16px;
  border-radius: 0 0 10px 10px;
  background-color: #eeeeee;
  box-sizing: border-box;
  font-size: 13px;
}
.cart-top-area > .cart-screen > .bullet-bottom > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.cart-top-area > .cart-footer {
  background: #ffffff;
  bottom: 0;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.cart-top-area > .cart-footer > .content-area {
  width: 700px;
  margin: 0;
  padding: 0;
}
.cart-top-area > .cart-footer > .content-area > .button {
  min-height: 52px;
  min-width: 100%;
  border-radius: 10px;
  margin: 8px;
  padding: 10px 16px;
  background-color: rgb(239, 98, 83);
  cursor: pointer;
}
.cart-top-area > .cart-footer > .content-area > .button > .text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

#footer {
  width: 100vw;
}
#footer > .footer-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2.5rem;
  border-top: 0.0625rem solid #eeeeee;
}
#footer > .footer-container > .service-area {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .footer-menu > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-strart;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list > .menu-item {
  font-size: 0.8rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .service-area > .customer-service {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .customer-service > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .customer-service > .service-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}
#footer > .footer-container > .service-area > .customer-service > .service-time {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .customer-service > .service-time > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .customer-service > .service-time > .time-term {
  font-size: 0.8rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .service-area > .customer-service > .service-noti {
  font-size: 0.8rem;
}
#footer > .footer-container > .corporation-are {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-top: 3rem;
  padding-top: 2rem;
  box-sizing: border-box;
  border-top: 0.0625rem solid #eeeeee;
}
#footer > .footer-container > .corporation-are > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .corporation-are > .term-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
}
#footer > .footer-container > .corporation-are > .term-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .corporation-are > .term-list > .term-item {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}
#footer > .footer-container > .corporation-are > .term-list > .term-item.bold {
  font-weight: 700;
}
#footer > .footer-container > .corporation-are > .business-info {
  width: 35rem;
  line-height: 1rem;
  font-size: 0.7rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .notice-guarantee {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: flex-start;
  margin-top: 2rem;
  font-size: 0.7rem;
}
#footer > .footer-container > .notice-guarantee > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .notice-guarantee > .title {
  font-weight: 700;
}
#footer > .footer-container > .notice-guarantee > .description {
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .notice-area {
  width: 35rem;
  font-size: 0.7rem;
  color: rgba(34, 34, 34, 0.5019607843);
  margin-top: 1rem;
}

/*# sourceMappingURL=index.css.map */
