#header {
  background-color: #ffffff;
  top: 0;
  width: 100%;
  height: 6rem;
  position: sticky;
  z-index: 9;
}
#header > .header-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}
#header > .header-container > .top-inner {
  height: 1.5rem;
}
#header > .header-container > .top-inner > .top-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
}
#header > .header-container > .top-inner > .top-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .top-inner > .top-list > .top-item > .top-link {
  color: #745b39;
  text-decoration: none;
}
#header > .header-container > .main-inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-start;
  height: 4.5rem;
  box-sizing: border-box;
  padding: 1.25rem 1.5rem;
}
#header > .header-container > .main-inner > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .main-inner > .logo > .logo-icon {
  width: 10rem;
}
#header > .header-container > .main-inner > .menu > .menu-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-start;
}
#header > .header-container > .main-inner > .menu > .menu-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#header > .header-container > .main-inner > .menu > .menu-list > .menu-item > .menu-link {
  font-size: 1.15rem;
  text-decoration: none;
  color: inherit;
}
#header > .header-container > .main-inner > .menu > .menu-list > .menu-item > .menu-link.bold {
  font-weight: 700;
}
#header > .header-container > .main-inner > .search > .search-icon,
#header > .header-container > .main-inner > .cart > .cart-icon {
  width: 1.3rem;
  line-height: 1;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: felx-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
}
.container > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  top: 0;
  left: 0;
  position: relative;
  height: 754px;
  padding: 40px 40px 160px 40px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
.container > .content > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .snb_area {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  margin-right: 20px;
  width: 180px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .snb_area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .snb_area > .nuxt-link-active {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.container > .content > .snb_area > .nuxt-link-active > .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.15px;
  line-height: 29px;
  padding-bottom: 30px;
  margin: 0;
  box-sizing: border-box;
}
.container > .content > .snb_area > .snb {
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .snb_area > .snb > .snb_list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .snb_area > .snb > .snb_list:nth-child(2) {
  margin-top: 40px;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_title {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
  line-height: 22px;
  margin-bottom: 12px;
  vertical-align: top;
  box-sizing: border-box;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu {
  list-style-type: none;
  box-sizing: border-box;
  gap: 1rem;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item {
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item:nth-child(n+2) {
  margin-top: 12px;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item > .menu_link {
  color: rgba(34, 34, 34, 0.5);
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 18px;
  text-decoration: none;
}
.container > .content > .snb_area > .snb > .snb_list > .snb_menu > .menu_item > .menu_link.requestPage {
  color: #222;
  font-weight: 700;
}
.container > .content > .content_area {
  flex: 1;
}
.container > .content > .content_area > .my_addressBook {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .content_title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
.container > .content > .content_area > .my_addressBook > .content_title > .title {
  font-size: 24px;
  letter-spacing: -0.36px;
  margin: 0;
  padding: 0;
}
.container > .content > .content_area > .my_addressBook > .content_title > .title > h3 {
  font-size: inherit;
  line-height: 29px;
}
.container > .content > .content_area > .my_addressBook > .content_title > .btn_box {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
  padding-left: 30px;
}
.container > .content > .content_area > .my_addressBook > .content_title > .btn_box > .btn {
  border: 1px solid #222222;
  border-radius: 10px;
  font-size: 12px;
  height: 34px;
  letter-spacing: -0.06px;
  line-height: 32px;
  margin-right: 0;
  padding: 0 14px;
  text-decoration: none;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .content_title > .btn_box > .btn > .btn_txt {
  box-sizing: border-box;
  color: rgba(34, 34, 34, 0.8);
  cursor: pointer;
  letter-spacing: -0.06px;
  line-height: 32px;
}
.container > .content > .content_area > .my_addressBook > .my_list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic {
  border-bottom: 2px solid #222;
  padding: 30px 0 29px;
  margin: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind {
  margin-right: 24px;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info {
  line-height: 17px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info > .name_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 17px;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info > .name_box > .name {
  display: flex;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 20px;
  vertical-align: top;
  box-sizing: border-box;
  font-weight: 700;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info > .name_box > .mark {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -0.06px;
  line-height: 14px;
  margin-left: 4px;
  margin-top: 0;
  padding: 3px 6px;
  vertical-align: top;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info > .phone {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  padding-top: 5px;
  margin: 0;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info > .phone > .hyphen {
  background-color: #000;
  display: inline-flex;
  height: 1px;
  margin-left: 4px;
  margin-right: 2px;
  width: 4px;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .info_bind > .address_info > .address_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: -0.21px;
  padding-top: 4px;
  margin: 0;
  box-sizing: border-box;
  line-height: 17px;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .btn_bind {
  margin-top: 12px;
  margin-left: auto;
  padding-top: 0;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .btn_bind > .button {
  padding: 0 12px 0 11px;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  font-size: 12px;
  height: 34px;
  letter-spacing: -0.06px;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.container > .content > .content_area > .my_addressBook > .my_list > .basic > .my_item > .btn_bind > .button.delete {
  margin-left: 5px;
}
.container > .content > .content_area > .my_addressBook > .layer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  pointer-events: none;
}
.container > .content > .content_area > .my_addressBook > .layer > .cover {
  background-color: rgba(34, 34, 34, 0.5);
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container {
  width: 520px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 14px;
  color: inherit;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .close > .ico-close {
  cursor: pointer;
  color: inherit;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_header > .title {
  background-color: #ffffff;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
  line-height: 22px;
  min-height: 44px;
  padding: 18px 50px;
  text-align: center;
  margin: 0;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind {
  padding: 0 32px;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  padding: 0 0 14px 0;
  position: relative;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box:nth-child(n+2) {
  padding: 16px 0 14px 0;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .title {
  color: inherit;
  font-size: 13px;
  letter-spacing: -0.7px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label > .text {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  padding: 8px 0;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label > .button {
  padding: 0 12px 0 11px;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  font-size: 12px;
  height: 34px;
  letter-spacing: -0.06px;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  bottom: 8px;
  position: absolute;
  right: 0;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .square {
  display: flex;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .check {
  display: none;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .label_txt {
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 24px;
  padding-left: 8px;
  vertical-align: top;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .blind[type=checkbox]:checked + .--obj-label > .check {
  display: flex;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > input[type=checkbox]:checked + .--obj-label > .square {
  display: none;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .layer_btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  padding: 32px;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .layer_btn > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .layer_btn > .close {
  width: 120px;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
  height: 42px;
  letter-spacing: -0.14px;
  padding: 0 18px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .layer > .layer_container > .layer_content > .layer_btn > .save {
  width: 120px;
  font-weight: 400;
  background-color: #222222;
  border: 1px solid #d3d3d3;
  color: #ffffff;
  height: 42px;
  letter-spacing: -0.14px;
  padding: 0 18px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 8px;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .layer.-visible {
  display: block;
  pointer-events: all;
}
.container > .content > .content_area > .my_addressBook > .layer.modify {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  pointer-events: none;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .cover {
  background-color: rgba(34, 34, 34, 0.5);
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container {
  width: 520px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 14px;
  color: inherit;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .close > .ico-close {
  cursor: pointer;
  color: inherit;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_header > .title {
  background-color: #ffffff;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.27px;
  line-height: 22px;
  min-height: 44px;
  padding: 18px 50px;
  text-align: center;
  margin: 0;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind {
  padding: 0 32px;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  padding: 0 0 14px 0;
  position: relative;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box:nth-child(n+2) {
  padding: 16px 0 14px 0;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .title {
  color: inherit;
  font-size: 13px;
  letter-spacing: -0.7px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label > .text {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  padding: 8px 0;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_input > .input_box > .--obj-label > .button {
  padding: 0 12px 0 11px;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  font-size: 12px;
  height: 34px;
  letter-spacing: -0.06px;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  bottom: 8px;
  position: absolute;
  right: 0;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .square {
  display: flex;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .check {
  display: none;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .--obj-label > .label_txt {
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 24px;
  padding-left: 8px;
  vertical-align: top;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > .blind[type=checkbox]:checked + .--obj-label > .check {
  display: flex;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .delivery_bind > .delivery_check > .checkbox_item > input[type=checkbox]:checked + .--obj-label > .square {
  display: none;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .layer_btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  padding: 32px;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .layer_btn > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .layer_btn > .close {
  width: 120px;
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
  height: 42px;
  letter-spacing: -0.14px;
  padding: 0 18px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .layer.modify > .layer_container > .layer_content > .layer_btn > .save {
  width: 120px;
  font-weight: 400;
  background-color: #222222;
  border: 1px solid #d3d3d3;
  color: #ffffff;
  height: 42px;
  letter-spacing: -0.14px;
  padding: 0 18px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 8px;
  cursor: pointer;
}
.container > .content > .content_area > .my_addressBook > .layer.modify.-visible {
  display: block;
  pointer-events: all;
}

#footer {
  width: 100vw;
}
#footer > .footer-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2.5rem;
  border-top: 0.0625rem solid #eeeeee;
}
#footer > .footer-container > .service-area {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .footer-menu > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-strart;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .footer-menu > .menu-box > .menu-list > .menu-item {
  font-size: 0.8rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .service-area > .customer-service {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .customer-service > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .customer-service > .service-title {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}
#footer > .footer-container > .service-area > .customer-service > .service-time {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-start;
}
#footer > .footer-container > .service-area > .customer-service > .service-time > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .service-area > .customer-service > .service-time > .time-term {
  font-size: 0.8rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .service-area > .customer-service > .service-noti {
  font-size: 0.8rem;
}
#footer > .footer-container > .corporation-are {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-top: 3rem;
  padding-top: 2rem;
  box-sizing: border-box;
  border-top: 0.0625rem solid #eeeeee;
}
#footer > .footer-container > .corporation-are > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .corporation-are > .term-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-start;
}
#footer > .footer-container > .corporation-are > .term-list > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .corporation-are > .term-list > .term-item {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}
#footer > .footer-container > .corporation-are > .term-list > .term-item.bold {
  font-weight: 700;
}
#footer > .footer-container > .corporation-are > .business-info {
  width: 35rem;
  line-height: 1rem;
  font-size: 0.7rem;
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .notice-guarantee {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: flex-start;
  margin-top: 2rem;
  font-size: 0.7rem;
}
#footer > .footer-container > .notice-guarantee > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
#footer > .footer-container > .notice-guarantee > .title {
  font-weight: 700;
}
#footer > .footer-container > .notice-guarantee > .description {
  color: rgba(34, 34, 34, 0.5019607843);
}
#footer > .footer-container > .notice-area {
  width: 35rem;
  font-size: 0.7rem;
  color: rgba(34, 34, 34, 0.5019607843);
  margin-top: 1rem;
}

/*# sourceMappingURL=address.css.map */
