@charset "UTF-8";
@import "../../user/styles/global";

#header {
  background-color: #ffffff;
  top: 0;

  width: 100%;
  height: 6rem;
  position: sticky;
  //border-bottom: 0.0625rem solid #a0a0a0;
  z-index: 9;

  > .header-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;

    > .top-inner {
      height: 1.5rem;

      > .top-list {
        @include flex(row, center, flex-start, 1.5rem);
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        font-size: 0.75rem;

        > .top-item > .top-link {
          color: #745b39;
          text-decoration: none;
        }
      }
    }

    > .main-inner {
      @include flex(row, center, flex-start, 1.6rem);
      height: 4.5rem;
      box-sizing: border-box;
      padding: 1.25rem 1.5rem;

      > .logo > .logo-icon {
        width: 10rem;
      }

      > .menu > .menu-list {
        @include flex(row, center, flex-start, 1.6rem);

        > .menu-item > .menu-link {
          font-size: 1.15rem;
          text-decoration: none;
          color: inherit;

          &.bold {
            font-weight: 700;
          }
        }
      }

      > .search > .search-icon,
      > .cart > .cart-icon {
        width: 1.3rem;
        line-height: 1;
        cursor: pointer;
      }
    }
  }
}

.container {
  @include flex(column, center, felx-start, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;

  > .content {
    @include flex(row, flex-start, flex-start,);
    top: 0;
    left: 0;
    position: relative;
    height: 754px;
    padding: 40px 40px 160px 40px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;

    > .snb_area {
      @include flex(column, center, flex-start,);
      margin-right: 20px;
      width: 180px;
      height: 100%;
      padding: 0;
      box-sizing: border-box;

      > .nuxt-link-active {
        text-decoration: none;
        color: inherit;
        width: 100%;

        > .title {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: -.15px;
          line-height: 29px;
          padding-bottom: 30px;
          margin: 0;
          box-sizing: border-box;

        }
      }

      > .snb {
        box-sizing: border-box;
        width: 100%;

        > .snb_list {
          margin: 0;
          padding: 0;
          box-sizing: border-box;

          &:nth-child(2) {
            margin-top: 40px;
          }

          > .snb_title {
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -.27px;
            line-height: 22px;
            margin-bottom: 12px;
            vertical-align: top;
            box-sizing: border-box;
          }

          > .snb_menu {
            list-style-type: none;
            box-sizing: border-box;
            gap: 1rem;

            > .menu_item {
              box-sizing: border-box;
              width: 100%;

              &:nth-child(n+2) {
                margin-top: 12px;
              }

              > .menu_link {
                color: rgba(34, 34, 34, .5);
                font-size: 15px;
                letter-spacing: -.15px;
                line-height: 18px;
                text-decoration: none;

                &.requestPage {
                  color: #222;
                  font-weight: 700;
                }


              }
            }
          }
        }
      }
    }

    > .content_area {
      flex: 1;

      > .my_Buying {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        > .content_title {
          display: flex !important;
          flex-direction: row !important;
          align-items: center !important;
          justify-content: flex-start !important;
          padding-bottom: 16px;

          > .title {
            font-size: 24px;
            letter-spacing: -.36px;
            margin: 0;
            padding: 0;

            > h3 {
              font-size: inherit;
              line-height: 29px;

            }
          }

          > .btn_box {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: auto;
            padding-left: 30px;

            > .btn {
              border: 1px solid #222222;
              border-radius: 10px;
              font-size: 12px;
              height: 34px;
              letter-spacing: -.06px;
              line-height: 32px;
              margin-right: 0;
              padding: 0 14px;
              text-decoration: none;
              cursor: pointer;

              > .btn_txt {
                box-sizing: border-box;
                color: rgba(34, 34, 34, .8);
                cursor: pointer;
                letter-spacing: -.06px;
                line-height: 32px;

              }

            }
          }

        }

        > .content_list {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          margin-top: 20px;


          > .bidding-header {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            > .bidding {
              margin: 0;
              padding: 0;
              box-sizing: border-box;

              > .purchase_list {
                @include flex(row, center, center);
                background-color: #ffffff;
                margin-top: 20px;
                width: 100%;

                > .tab_item {
                  flex-grow: 1;
                  text-align: center;

                  > .tab_link {
                    @include flex(row, center, center);
                    position: relative;
                    border-bottom: 2px solid #ebebeb;
                    padding-top: 12px;
                    height: 68px;
                    padding-bottom: 12px;
                    flex-grow: 1;
                    text-align: center;
                    text-decoration: none;

                    > .tab_box {
                      @include flex(column-reverse, center, center);
                      text-align: center;
                      box-sizing: border-box;

                      > .title {
                        color: rgba(34, 34, 34, .5);
                        font-weight: 700;
                        font-size: 13px;
                        text-align: center;
                      }

                      > .count {
                        font-size: 20px;
                        letter-spacing: -.1px;
                        line-height: 24px;
                        margin: 0;
                        font-weight: 700;
                        box-sizing: border-box;
                        text-align: center;
                        color: #222222;

                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}

#footer {
  width: 100vw;

  > .footer-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2.5rem;
    border-top: 0.0625rem solid #eeeeee;

    > .service-area {
      @include flex(row, flex-start, flex-start, 1rem);

      > .footer-menu {
        @include flex(row, center, flex-start, 5rem);

        > .menu-box {
          @include flex(column, flex-start, flex-start, 0.9rem);

          > .menu-title {
            font-size: 0.9rem;
            font-weight: 700;
            color: inherit;
          }

          > .menu-list {
            @include flex(column, flex-start, flex-strart, 0.7rem);

            > .menu-item {
              font-size: 0.8rem;
              color: #22222280;
            }
          }
        }
      }

      > .customer-service {
        @include flex(column, flex-start, flex-start, 0.9rem);

        > .service-title {
          font-size: 0.9rem;
          font-weight: 700;
          color: inherit;
        }

        > .service-time {
          @include flex(column, flex-start, flex-start, 0.7rem);

          > .time-term {
            font-size: 0.8rem;
            color: #22222280;
          }
        }

        > .service-noti {
          font-size: 0.8rem;
        }
      }
    }

    > .corporation-are {
      @include flex(column, flex-start, flex-start, 0.5rem);
      margin-top: 3rem;
      padding-top: 2rem;
      box-sizing: border-box;
      border-top: 0.0625rem solid #eeeeee;

      > .term-list {
        @include flex(row, flex-start, flex-start, 1.5rem);

        > .term-item {
          font-size: 0.8rem;
          font-weight: 400;
          color: #000000;

          &.bold {
            font-weight: 700;
          }
        }
      }

      > .business-info {
        width: 35rem;
        line-height: 1rem;
        font-size: 0.7rem;
        color: #22222280;
      }
    }

    > .notice-guarantee {
      @include flex(column, flex-start, flex-start, 0.2rem);
      margin-top: 2rem;
      font-size: 0.7rem;

      > .title {
        font-weight: 700;
      }

      > .description {
        color: #22222280;
      }
    }

    > .notice-area {
      width: 35rem;
      font-size: 0.7rem;
      color: #22222280;
      margin-top: 1rem;
    }
  }
}