<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kream.kream.mappers.BuyerBidMapper">


    <insert id="insertBuyerBid"
    parameterType="com.kream.kream.entities.BuyerBidEntity">
        INSERT INTO `kream`.`buyer_bid` (`user_id`, `size_id`, `address_id`, `price`, `deadline`, `state`, `order_state`, `created_at`, `update_at`, `is_deleted`)
        VALUES (#{userId}, #{sizeId}, #{addressId}, #{price}, #{deadline}, #{state}, #{orderState} ,#{createdAt}, #{updatedAt}, #{isDeleted})
    </insert>

    <select id="selectPriceBySizeIdAndBuyerBidId" resultType="com.kream.kream.entities.BuyerBidEntity">
        SELECT `id`         AS `id`,
               `user_id`    AS `userId`,
               `size_id`    AS `sizeId`,
               `address_id` AS `addressId`,
               `price`      AS `price`,
               `deadline`   AS `deadline`,
               `state`      AS `state`,
               `order_state`AS `orderState`,
               `created_at` AS `createdAt`,
               `update_at`  AS `updatedAt`,
               `is_deleted` AS `isDeleted`
        FROM `kream`.`buyer_bid`
        WHERE `buyer_bid`.`id` = #{buyerBidId}
          AND `buyer_bid`.`size_id` = #{sizeId}
          AND `buyer_bid`.`state` = 'BIDDING'
          AND `buyer_bid`.`is_deleted` = 0
    </select>

    <select id="selectBuyerBidById"
            resultType="com.kream.kream.entities.BuyerBidEntity">
        SELECT `id`         AS `id`,
               `user_id`    AS `userId`,
               `size_id`    AS `sizeId`,
               `address_id` AS `addressId`,
               `price`      AS `price`,
               `deadline`   AS `deadline`,
               `state`      AS `state`,
               `created_at` AS `createdAt`,
               `update_at`  AS `updatedAt`,
               `is_deleted` AS `isDeleted`
        FROM `kream`.`buyer_bid`
        WHERE `buyer_bid`.`id` = #{buyerBidId}
          AND `buyer_bid`.`is_deleted` = 0
    </select>

    <update id="updateBuyerBid">
        UPDATE `kream`.`buyer_bid`
        SET `user_id`    = #{userId},
            `size_id`    = #{sizeId},
            `address_id` = #{addressId},
            `price`      = #{price},
            `deadline`   = #{deadline},
            `state`      = #{state},
            `order_state`= #{orderState},
            `created_at` = #{createdAt},
            `update_at`  = #{updatedAt},
            `is_deleted` = #{isDeleted}
        WHERE `id` = #{id}
        LIMIT 1
    </update>
</mapper>
