<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kream.kream.mappers.EmailTokenMapper">

    <insert id="insertEmailToken"
            parameterType="com.kream.kream.entities.EmailTokenEntity">
        INSERT INTO `kream`.`email_tokens`(`user_email`, `key`, `created_at`, `expires_at`, `is_used`)
        VALUES (#{userEmail}, #{key}, #{createdAt}, #{expiresAt}, #{isUsed})
    </insert>

    <select id="selectEmailTokenByUserEmailTokenKey"
            resultType="com.kream.kream.entities.EmailTokenEntity">
        SELECT `user_email` AS `userEmail`,
               `key`        AS `key`,
               `created_at`   AS `createdAt`,
               `expires_at`   AS `expiresAt`,
               `is_used`      AS `isUsed`

        FROM `kream`.`email_tokens`
        WHERE `user_email` = #{userEmail}
          AND `key` = #{key}
        LIMIT 1
    </select>

    <update id="updateEmailToken"
            parameterType="com.kream.kream.entities.EmailTokenEntity">
        UPDATE `kream`.`email_tokens`
        SET `created_at` = #{createdAt},
            `expires_at` = #{expiresAt},
            `is_used`    = #{isUsed}
        WHERE `user_email` = #{userEmail}
          AND `key` = #{key}
        LIMIT 1
    </update>
</mapper>