<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kream.kream.mappers.OrderMapper">
    <select id="selectPopularProducts"
            resultType="com.kream.kream.dtos.ProductDTO">
        SELECT `product`.`id`              AS productId,
               `product`.`product_name_en` AS productNameEn,
               `product`.`product_name_ko` AS productNameKo,
               `product`.`brand`           AS brand,
               `product`.`category`        AS category,
               `image`.`data`              AS imageData,
               `image`.`type`              AS imageType,
               MIN(`seller_bid`.`price`)   AS lowestPrice,
               COUNT(`order`.`id`)         AS transactionCount
        FROM `kream`.`order`
                 LEFT JOIN `kream`.`seller_bid`
                           ON `seller_bid_id` = `seller_bid`.`id`
                               AND `seller_bid`.`state` = 'BIDDING'
                 LEFT JOIN `kream`.`buyer_bid`
                           ON `buyer_bid_id` = `buyer_bid`.`id`
                 INNER JOIN `kream`.`size`
                            ON `seller_bid`.`size_id` = `size`.`id`
                                OR `buyer_bid`.`size_id` = `size`.`id`
                 INNER JOIN `kream`.`product`
                            ON `product_id` = `product`.`id`
                 INNER JOIN `kream`.`image`
                            ON `product`.`id` = `image`.`product_id`
                                AND `image`.`is_primary` = 1
        WHERE `order`.`state` = 'DELIVERED'
        GROUP BY `product`.`id`
        ORDER BY transactionCount DESC
        LIMIT 20
    </select>

    <select id="selectOrderById" resultType="com.kream.kream.dtos.OrderChartDTO">
        SELECT `order`.`id`         AS `orderId`,
               `size`.`type`        AS `sizeType`,
               `order`.`price`      AS `orderPrice`,
               `order`.`created_at` AS `orderDate`,
               `seller_bid`.`price`,
               `buyer_bid`.`price`
        FROM `kream`.`order`
                 LEFT JOIN `kream`.`seller_bid`
                           ON `order`.`seller_bid_id` = `seller_bid`.`id`
                 LEFT JOIN `kream`.`buyer_bid`
                           ON `order`.`buyer_bid_id` = `buyer_bid`.`id`
                 LEFT JOIN `kream`.`size`
                           ON (`seller_bid`.`size_id` = `size`.`id`
                               OR `buyer_bid`.`size_id` = `size`.`id`)
        WHERE (`order`.`state` = 'DELIVERED'
            OR `order`.`state` = 'SETTLED')
          AND `size`.product_id = #{id}
        ORDER BY `order`.`created_at` DESC
        LIMIT 5
    </select>
</mapper>