<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kream.kream.mappers.UserMapper">
    <delete id="deleteUserByEmail">
        DELETE
        FROM `kream`.`user`
        WHERE `email` = #{email}
        LIMIT 1
    </delete>

    <insert id="insertUser"
            parameterType="com.kream.kream.entitys.UserEntity">
        INSERT INTO `kream`.`user`(`email`, `password`, `contact`, `nickname`, `is_admin`, `is_suspended`,
                                   `is_verified`, `social_type_code`, `social_id`, `created_at`, `updated_at`,
                                   deleted_at)
        VALUES (#{email}, #{password}, #{contact}, #{nickname}, #{isAdmin}, #{isSuspended}, #{isVerified},
                #{socialTypeCode}, #{socialId}, #{createdAt},
                #{updatedAt}, #{deletedAt})
    </insert>

    <select id="selectUserByEmail"
            resultType="com.kream.kream.entitys.UserEntity">
        SELECT `id`               AS `id`,
               `email`            AS `email`,
               `password`         AS `password`,
               `contact`          AS `contact`,
               `nickname`         AS `nickname`,
               `is_admin`         AS `isAdmin`,
               `is_suspended`     AS `isSuspended`,
               `is_verified`      AS `isVerified`,
               `social_type_code` AS `socialTypeCode`,
               `social_id`        AS `socialId`,
               `created_at`       AS `createdAt`,
               `updated_at`       AS `updatedAt`,
               `deleted_at`       AS `deletedAt`
        FROM `kream`.`user`
        WHERE `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectUserByContact"
            resultType="com.kream.kream.entitys.UserEntity">
        SELECT `id`               AS `id`,
               `email`            AS `email`,
               `password`         AS `password`,
               `contact`          AS `contact`,
               `nickname`         AS `nickname`,
               `is_admin`         AS `isAdmin`,
               `is_suspended`     AS `isSuspended`,
               `is_verified`      AS `isVerified`,
               `social_type_code` AS `socialTypeCode`,
               `social_id`        AS `socialId`,
               `created_at`       AS `createdAt`,
               `updated_at`       AS `updatedAt`,
               `deleted_at`       AS `deletedAt`
        FROM `kream`.`user`
        WHERE `contact` = #{contact}
        LIMIT 1
    </select>

    <select id="selectUserByNickname"
            resultType="com.kream.kream.entitys.UserEntity">
        SELECT `id`               AS `id`,
               `email`            AS `email`,
               `password`         AS `password`,
               `contact`          AS `contact`,
               `nickname`         AS `nickname`,
               `is_admin`         AS `isAdmin`,
               `is_suspended`     AS `isSuspended`,
               `is_verified`      AS `isVerified`,
               `social_type_code` AS `socialTypeCode`,
               `social_id`        AS `socialId`,
               `created_at`       AS `createdAt`,
               `updated_at`       AS `updatedAt`,
               `deleted_at`       AS `deletedAt`
        FROM `kream`.`user`
        WHERE `nickname` = #{nickname}
        LIMIT 1
    </select>

    <select id="selectUserBySocialTypeCodeAndSocialId"
            resultType="com.kream.kream.entitys.UserEntity">
        SELECT `id`               AS `id`,
               `email`            AS `email`,
               `password`         AS `password`,
               `contact`          AS `contact`,
               `nickname`         AS `nickname`,
               `is_admin`         AS `isAdmin`,
               `is_suspended`     AS `isSuspended`,
               `is_verified`      AS `isVerified`,
               `social_type_code` AS `socialTypeCode`,
               `social_id`        AS `socialId`,
               `created_at`       AS `createdAt`,
               `updated_at`       AS `updatedAt`,
               `deleted_at`       AS `deletedAt`
        FROM `kream`.`user`
        WHERE `social_type_code` = #{socialTypeCode}
          AND `social_id` = #{socialId}
        LIMIT 1
    </select>

    <update id="updateUser"
            parameterType="com.kream.kream.entitys.UserEntity">
        UPDATE `kream`.`user`
        SET `password`         =  #{password},
            `contact`          =  #{contact},
            `nickname`         =  #{nickname},
            `is_admin`         =  #{isAdmin},
            `is_suspended`     =  #{isSuspended},
            `is_verified`      =  #{isVerified},
            `social_type_code` =  #{socialTypeCode},
            `social_id`        =  #{socialId},
            `created_at`       =  #{createdAt},
            `updated_at`       =  #{updatedAt},
            `deleted_at`       =  #{deletedAt}
        WHERE `id` = #{id}
        AND `email` = #{email}
        LIMIT 1
    </update>

</mapper>