<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Kream</title>
    <link rel="stylesheet" th:href="@{/my/styles/account.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/styles/common.css}" type="text/css">
    <script defer th:src="@{/my/scripts/account.js}" type="text/javascript"></script>
    <script defer th:src="@{/assets/scripts/common.js}" type="text/javascript"></script>

</head>
<body>
<header id="header">
    <div class="header-container">
        <div class="top-inner">
            <ul class="top-list">
                <li class="-spring"></li>
                <li class="top-item">
                    <a class="top-link" th:href="@{'/admin/'}"
                       th:if="${session.user != null && session.user.isAdmin()}">관리자 페이지</a>
                </li>
                <li class="top-item">
                    <a class="top-link" th:href="${session.user == null} ? '/login' : '/my/'">마이페이지</a>
                </li>
                <li class="top-item">
                    <a class="top-link" th:href="${session.user == null} ? '/login' : '/logout'"
                       th:text="${session.user == null} ? '로그인' : '로그아웃'"></a>
                </li>
            </ul>
        </div>
        <div class="main-inner">
            <a class="logo" th:href="@{'/'}">
                <img alt="logo" class="logo-icon" src="/assets/images/logo.png">
            </a>
            <div class="-spring"></div>
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a class="menu-link bold" th:href="@{'/'}">HOEM</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" th:href="@{'/shop'}">SHOP</a>
                    </li>
                </ul>
            </nav>
            <a class="search" th:href="@{'/search'}">
                <img alt="search-icon" class="search-icon" src="/home/assets/images/search-icon.png">
            </a>
            <a class="cart" th:href="${session.user == null} ? '/login' : '/cart/'">
                <img alt="cart-icon" class="cart-icon" src="/home/assets/images/cart_icon.png">
            </a>
        </div>
    </div>
</header>
<div class="container">
    <div class="content">
        <div class="snb_area">
            <a class="nuxt-link-active" href="/my/">
                <h2 class="title">마이 페이지</h2>
            </a>
            <nav class="snb">
                <div class="snb_list">
                    <strong class="snb_title">쇼핑정보</strong>
                    <ul class="snb_menu">
                        <li class="menu_item">
                            <a class="menu_link" href="/my/buying">구매 내역</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_link" href="/my/selling">판매 내역</a>
                        </li>
                    </ul>
                </div>
                <div class="snb_list">
                    <strong class="snb_title">내 정보</strong>
                    <ul class="snb_menu">
                        <li class="menu_item">
                            <a class="menu_link" href="/my/profile">로그인 정보</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_link" href="/my/address">주소록</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_link requestPage" href="/my/account">판매 정산 계좌</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content_area">
            <div class="my_profile">
                <div class="content_title">
                    <div class="title">
                        <h3>판매 정산 계좌</h3>
                    </div>
                </div>
                <div class="registered">
                    <div class="box">
                        <h4 class="box_title">등록된 계좌 정보</h4>
                        <div class="box_account_info">
                            <span class="account">농협은행123123213</span>
                            <span class="account_devider">/</span>
                            <span class="name">양세훈</span>
                        </div>
                    </div>
                <button class="delete" type="button">삭제</button>
                </div>
                <form class="accountregistration">
                    <input name="userId" th:value="${user.getId()}" type="hidden" id="userId">
                    <div class="input_box">
                        <h4 class="input_title">은행명</h4>
                        <label class="--obj-label" data-id="bankName">
                            <input autocomplete="off" class="input_txt" id="selectedBank" name="bankName" placeholder="선택하세요"
                                   readonly type="text">
                            <button class="btn" type="button">
                                <img alt="down-circle" class="image" height="24"
                                     src="/my/images/icons8-down-button-50.png" width="24">
                            </button>
                            <div class="layerDropdown">
                                <div class="layer-background"></div>
                                <div class="layer_container">
                                    <div class="layer_content">
                                        <ul class="drop_list">
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">국민은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">신한은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">우리은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">하나은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">기업은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">농협은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">SC은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">우체국</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">한국씨티은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">산업은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">카카오뱅크</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">부산은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">대구은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">광주은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">케이뱅크</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">수협중앙회</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">제주은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">전북은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">지역농축협</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">경남은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">새마을금고연합회</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">신협</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">저축은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">HSBC은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">도이치은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">제이피모간체이스은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">BOA은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">비엔피파리바은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">중국공상은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">산림조합</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">중국건설은행</a>
                                            </li>
                                            <li class="drop_item">
                                                <a class="drop_link" href="#">토스뱅크</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="_warning"></span>
                        </label>
                    </div>
                    <div class="input_box">
                        <h4 class="input_title">계좌번호</h4>
                        <label class="--obj-label" data-id="bankNumber">
                            <input class="input_txt" name="accountNumber" placeholder="-없이 입력하세요" type="text">
                            <span class="_warning"></span>
                        </label>
                    </div>
                    <div class="input_box">
                        <h4 class="input_title">예금주</h4>
                        <label class="--obj-label" data-id="name">
                            <input class="input_txt" name="accountOwner" placeholder="예금주명을 정확히 입력하세요" type="text">
                            <span class="_warning"></span>
                        </label>
                    </div>
                    <div class="registrationbtn">
                        <button class="button" type="submit">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="footer-container">
        <div class="service-area">
            <div class="footer-menu">
                <div class="menu-box">
                    <span class="menu-title">이용안내</span>
                    <ul class="menu-list">
                        <li class="menu-item">검수기준</li>
                        <li class="menu-item">이용정책</li>
                        <li class="menu-item">페널티 정책</li>
                        <li class="menu-item">커뮤니티 가이드라인</li>
                    </ul>
                </div>
                <div class="menu-box">
                    <span class="menu-title">고객지원</span>
                    <ul class="menu-list">
                        <li class="menu-item">공지사항</li>
                        <li class="menu-item">서비스 소개</li>
                        <li class="menu-item">스토어 안내</li>
                        <li class="menu-item">판매자 방문접수</li>
                    </ul>
                </div>
            </div>
            <div class="-spring"></div>
            <div class="customer-service">
                <span class="service-title">고객센터 1588-7813</span>
                <span class="service-time">
                    <span class="time-term">운영시간 평일 10:00 - 18:00 (토•일, 공휴일 휴무)</span>
                    <span class="time-term">점심시간 평일 13:00 - 14:00</span>
                </span>
                <span class="service-noti">1:1 문의하기는 앱에서만 가능합니다.</span>
            </div>
        </div>
        <div class="corporation-are">
            <ul class="term-list">
                <li class="term-item">회사소개</li>
                <li class="term-item">인재채용</li>
                <li class="term-item">제휴제안</li>
                <li class="term-item">이용약관</li>
                <li class="term-item bold">개인정보처리방침</li>
            </ul>
            <span class="business-info">크림 주식회사 · 대표 김창욱사업자등록번호 : 570-88-01618 사업자정보확인통신판매업 : 제 2021-성남분당C-0093호사업장소재지 : 경기도 성남시 분당구 분당내곡로 131 판교테크원 타워1, 7층호스팅 서비스 : 네이버 클라우드 ㈜</span>
        </div>
        <div class="notice-guarantee">
            <span class="title">신한은행 채무지급보증 안내</span>
            <span class="description">당사는 고객님의 현금 결제 금액에 대해 신한은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.서비스가입 사실 확인</span>
        </div>
        <div class="notice-area">
            <span class="notice">크림(주)는 통신판매 중개자로서 통신판매의 당사자가 아닙니다. 본 상품은 개별판매자가 등록한 상품으로 상품, 상품정보, 거래에 관한 의무와 책임은 각 판매자에게 있습니다. 단, 이용약관 및 정책, 기타 거래 체결 과정에서 고지하는 내용 등에 따라 검수하고 보증하는 내용에 대한 책임은 크림(주)에 있습니다.</span>
        </div>
    </div>
</footer>
</body>
</html>