@charset "UTF-8";

@import "../../../assets/styles/global";

#cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: #ffffff;
  z-index: 2;
}

#header {
  width: 100%;

  > .header-top {
    height: 3rem;

    > .leave {
      top: 1rem;
      right: 1rem;
      position: absolute;
      cursor: pointer;
      z-index: 10;
    }
  }

  > .form {
    @include flex(column, flex-start, flex-start, 1rem);
    width: 100%;
    height: 3rem;
    max-width: 45rem;
    margin: 0 auto;


    > .label {
      @include flex(row, center, flex-start);
      width: 45rem;
      border-bottom: 0.17rem solid #000000;
      padding-bottom: 1rem;
      z-index: 10;

      > .keyword {
        width: 100%;
        padding: 0 0.8rem 0 0;
        font-size: 1.5rem;
        font-weight: 700;


        &::placeholder {
          font-size: 1.2rem;
          font-weight: 300;
        }
      }

      > .cancel,
      > .search {
        width: 2rem;
        user-select: none;
        pointer-events: none;
        opacity: 0;

        &:active {
          transform: scale(120%);
        }

        > .icon {
          cursor: pointer;
        }

        &.-visible {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    > .result {
      @include flex(column, stretch, flex-start);
      width: 100%;
      height: 100vh;
      display: none;
      z-index: 10;

      > .message {
        @include flex(column, center, flex-start);
        margin-top: 1.5rem;

        > .init {
          @include flex(row, center, center, 0.25rem);
        }

        > .loading {
          display: none;
          @keyframes anim {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(360deg);
            }
          }

          > .icon {
            animation-name: anim;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }

        > .empty {
          @include flex(row, center, center, 0.2rem);
          display: none;
        }

        > .error {
          display: none;
        }
      }

      > .item {
        @include flex(column, flex-start, flex-start);

        > .text {
          cursor: pointer;
          text-decoration: none;
          font-size: 0.9rem;
          font-weight: 500;
          margin-bottom: 1.7rem;
          color: #222222;
        }
      }
    }
  }
}

#main {
  @include flex(column, flex-start, flex-start, 1rem);
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;

  > .container {
    @include flex(column, strect, felx-start, 0.5rem);
    margin-top: 1rem;

    &.recent-area {
      display: none;
    }

    > .title-wrap {
      > .title {
        font-size: 0.9rem;
        font-weight: 700;
      }

      > .sub-title {
        font-size: 0.7rem;
        color: #222222;
        cursor: pointer;
      }
    }

    > .list {
      @include flex(row, center, flex-start, 0.5rem);

      > .content-item {
        @include flex(row, center, flex-start, 0.2rem);
        border: 0.0625rem solid #e0e0e0;
        border-radius: 1.25rem;
        box-sizing: border-box;
        padding: 0.3rem 0.7rem;

        &.-dark {
          background-color: #e0e0e095;
        }

        > .item {
          font-size: 0.8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;

          &.recommend-text {
            cursor: default;
          }
        }

        > .cancel-button > .recent-content-cancel {
          width: 0.7rem;
          line-height: 1;
          cursor: pointer;
        }
      }
    }
  }


  > .popular-area > .popular-content-wrap {
    margin-top: 0.7rem;

    > .ranking {
      column-count: 2;

      > .ranking-item {
        @include flex(row, center, flex-start, 0.25rem);
        font-size: 0.8rem;
        padding: 0.15rem 0 1rem;

        > .number {
          font-weight: 600;
        }

        > .name {
          color: #000000;
          cursor: pointer;
          width: 10rem;
          font-weight: 300;
          user-select: none;
          text-decoration: none;
          margin-right: 15rem;
        }
      }
    }
  }
}

