<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[KreamProject] 회원가입 인증 링크</title>
</head>
<body>
<!--여기 내용을 이메일에 보내겠다.-->
<h1 style="font-weight: lighter">KreamProject 회원가입</h1>
<p style="font-size: 15px; line-height: 1.375">해당 이메일은 KreamProject 회원가입을 위한 요청에 따라 발송되었습니다. 아래 링크를 클릭하시면 회원가입이 완료됩니다 해당 링크를 타인에게
    알려줄 경우 개인정보 노출의 위험이 있음으로 절대로 타인에게 알려주어서는 안 됩니다. 본인이 요청한 적이 없다면 안전하게 해당 이메일을 폐기해 주시기 바랍니다.</p>
<div style="text-align: center">
    <a th:href="${validationLink}" style="background-color: #01d345; color: #ffffff; display: inline-block; padding: 15px 50px; text-decoration: none; user-select: none;"
       target="_blank">인증하기</a>
</div>
<p style="font-size: 15px; line-height: 1.375;">위 링크가 작동하지 않는다면 아래 링크를 복사하여 주소창에 붙여넣는 방식으로 사용할 수도 있습니다.</p>
<code style="background-color: #eeeeee; color: #757575; display: block; font-size: 12px; padding: 10px 15px; user-select: all" th:text="${validationLink}"></code>
<p style="font-size: 15px; line-height: 1.375;">해당 이메일은 발신 전용이며, 문의에 대한 회신은 처리되지 않습니다. 궁금한 점이나 불편한 사항은 고객센터를 확인해 주시기
    바랍니다.</p>
<div style="height: 1px; background-color: #a0a0a0; margin: 14px 0;"></div>
<div style="color: #757575; font-size: 12px; line-height: 1">
    <span>(주)KreamProject</span>
    <span style="">|</span>
    <span>대표 문요셉</span>
    <span style="">|</span>
    <span>주소 대구 광역시 중구 중앙대로 366 10층</span>
    <span style="">|</span>
    <span>문의 070-0000-0000</span>
</div>

<div style="color:#757575; font-size: 12px; margin-top: 2px;">&copy; 2024 KreamProject.</div>
<div style="height: 1px; background-color: #a0a0a0; margin: 14px 0"></div>
</body>
</html>